@font-face {
    font-family: 'roboto-medium';
    src: url('./fonts/roboto/Roboto-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'roboto-light';
    src: url('./fonts/roboto/Roboto-Light.woff2') format('woff2')
}

body {
    background-color: #262626;
    font-family: "roboto-light", sans-serif;
    margin: 0;
    color: #c6c8ca;
}

input, select, textarea{
    color: #c6c8ca;
}

.search-input {
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    align-self: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: 200%;
    outline: none;
    font-style: italic;
    text-decoration-color: #c6c8ca;
}

.card-list-container {
    display: flex;
    justify-content: center;
}

.card-list {
    flex-basis: 40rem;
}

.card {
    background-color: #4b4b4b;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;

}

.card-content {
    display: flex;
    justify-content: space-between;
}

.card-symbol {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.empty-line {
    height: 1.5rem;
}



